body{
background:#1a1a1a;
color:#f5f5f5;
font-family:Arial;
padding:20px;
}

h1,h2{
color:#c49a6c;
}

input{
padding:10px;
margin:5px;
background:black;
color:white;
border:1px solid #c49a6c;
}

button{
padding:10px;
background:#5c3a21;
color:white;
border:none;
cursor:pointer;
}

.container{
background:#2b2b2b;
padding:20px;
margin-top:10px;
}
