body{
 font-family:Arial;
 background:#f5f5f5;
 margin:0;
}

.container{
 padding:30px;
 text-align:center;
}

.menu{
 display:flex;
 justify-content:center;
 gap:20px;
}

.card{
 background:white;
 padding:30px;
 border-radius:10px;
 text-decoration:none;
 color:black;
 box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

.pos-container{
 display:flex;
 padding:20px;
 gap:20px;
}

.left,.right{
 background:white;
 padding:20px;
 border-radius:10px;
 flex:1;
 box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

input{
 padding:10px;
 margin:10px 0;
 width:100%;
}

button{
 padding:10px;
 background:#8b4513;
 color:white;
 border:none;
 border-radius:5px;
 cursor:pointer;
}
