body{
 font-family:Arial;
 background:#f3f3f3;
 margin:0;
}

.login-box{
 width:300px;
 margin:100px auto;
 padding:20px;
 background:white;
 border-radius:10px;
 box-shadow:0px 4px 10px rgba(0,0,0,0.1);
 text-align:center;
}

.container{
 padding:30px;
 text-align:center;
}

.card{
 display:block;
 margin:20px auto;
 padding:20px;
 background:white;
 width:200px;
 border-radius:10px;
 text-decoration:none;
 color:black;
 box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

.pos-container{
 display:flex;
 gap:20px;
 padding:20px;
}

.left,.right{
 flex:1;
 background:white;
 padding:20px;
 border-radius:10px;
 box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

input,select{
 width:100%;
 padding:10px;
 margin:10px 0;
}

button{
 background:#8b4513;
 color:white;
 border:none;
 padding:10px;
 border-radius:5px;
 cursor:pointer;
}
